body{
	color:#fff;
	background-image:url(../images/background/back1.jpg);
	background-size: cover;
	background-attachment: fixed;
	
    background-repeat: repeat;
    overflow-x: hidden; 
}

div{
	color: #fff;
}

.logo{
	max-height: 80px;
    filter: grayscale(0%);
}

.row{
	padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.container{
	text-align: center;
	width: 750px;
}

.fondo{
	background-color: rgba(0,0,0,0.4);
	background-size: cover;
    height: 100%;
}

.btn-default{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    border-color: #fff; 
}

.btn-primary, .btn-default{
	border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-default:hover {
    color: #333;
    background-color: white;
    border-color: white;
}

.btn-primary{
	width: 50%;
    border: 0px solid #ccc;
    border-radius: 0px;
    height: 50px;
    background-color: rgba(0,153,204,0.7);
}

.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}

.form-control {
    display: inline-block;
    width: 50%;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    height: 50px;
}

h4{
	width:560px; 
	margin: auto;
}

.right{
	text-align: right;
}